name: Hex Publish Docs

on:
  workflow_dispatch:

concurrency:
  group: hex-publish-docs
  cancel-in-progress: true

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Verify Branch
        if: github.ref != 'refs/heads/master'
        run: exit 1
      - uses: actions/checkout@v6
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.17"
          otp-version: "27.1"
      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Install dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Run Hex Publish Docs
        run: mix hex.publish docs --yes
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
